<div class="u-search-user f-cb">
    <ux-search class="f-fl u-search" :placeholder="txtMap['placeholder']" @search="search()" :value="key"></ux-search>
</div>

<div class="u-search-user-content">
    <div v-if="!account || (account && account.status == -1) || (account && account.status == 2)" class="f-fl tips">
        {txtMap['searchEmpty']}
    </div>
    <template v-if="account && account.status != -1 && account.status != 2">
    <div class="account-item f-cb">
        <div class="f-fl avatar">
            <img :src="account.largeFaceUrl || defaultAvatar">
        </div>
        
        <div v-if="!isCom" class="f-fl desc">
            <div class="title">昵称：{account.nickName}</div>
            <div class="email">{txtMap['name']}：{account.realName}</div>
        </div>
        <div v-else class="f-fl desc">
            <div class="title">{txtMap['name']}：{account.realName}</div>
            <div class="email">员工编号：{account.idNum}</div>
        </div>

        <div class="f-fl oper">
            <span class="u-btn u-btn-sm u-btn-gh" r-class="{ {'u-btn-disabled': !!account.alreadyIn} }"  @click="add(account)">{#if !account.alreadyIn}确认添加{#else}已添加{/if}</span>
        </div>
    </div>
    </template> 
    <div v-if="errorMsg" class="u-tip u-tip-error">{errorMsg}</div>
        <div v-for="item in list">
            <span>{item.name}</span>
            <template v-for="item2 in item.list">
                <div @click="doSom()">{item2.value}</div>
                    <img v-for="img in item2.list" :src="img" alt="">
            </template>
        </div>
</div>